/*
The CSS for the HTML converter
*/

.html_converter {

}

.html_converter div.header {
	width: 100%;
	padding: 5px 5px 5px 5px;
}

.html_converter div.header img{
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.html_converter div.result {
	display: none;
}